.dhtmlwindow{
position: absolute;
border: 7px solid black;
visibility: hidden;
background-color: white;
border-radius: 16px; 
-ms-border-radius: 16px; 
-moz-border-radius: 16px; 
-webkit-border-radius: 16px;
/* padding:5px 5px 5px 5px; */

}

.drag-handle{ /*CSS for Drag Handle*/
padding: 10px 15px;
text-indent: 5px;
font: bold 16px Arial;
background-color:#fed136;
color:#000000;
cursor: move;
overflow: hidden;
width: auto;
height:35px;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
border-radius: 10px 5px 0 0;
/* border: 2px solid #999;  */
}

.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
}

.drag-handle .drag-close{ /*CSS for controls (min, close etc) within Drag Handle*/
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
margin-top:-17px;
margin-right:-20px;
}

* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
width: 100%;
}


.drag-contentarea{ /*CSS for Content Display Area div*/
/* border-top: 1px solid brown; */
background-color: white;
color: black;
height: 150px;
/* padding: 2px; */
overflow: auto;
}

.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
/* border-top: 1px solid gray; */
background-color: #F8F8F8;
height: 13px; /*height of resize image*/
}


.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0;
}